# SQLite: use sql magic %sql
* pip install ipython-sql
* doc: https://pypi.org/project/ipython-sql/

---
* author:  [Prasert Kanawattanachai](prasert.k@chula.ac.th)
* YouTube: https://www.youtube.com/prasertcbs
* [Chulalongkorn Business School](https://www.cbs.chula.ac.th/en/)
---

In [1]:
import pandas as pd

In [2]:
print(f'pandas version: {pd.__version__}')

pandas version: 1.0.3

In [3]:
%load_ext sql

### SQLite connection string
* sqlalchemy connection string format
* doc: https://docs.sqlalchemy.org/en/13/core/engines.html

In [4]:
dbname='disney.sqlite'
connection_string=f'sqlite:///{dbname}'

In [5]:
connection_string

'sqlite:///disney.sqlite'

In [6]:
%sql sqlite:///disney.sqlite

In [7]:
%%sql
select *
    from  sqlite_master 
    where type ='table';

 * sqlite:///disney.sqlite
Done.

[('table', 'disney_char', 'disney_char', 2, 'CREATE TABLE disney_char (\n\tmovie_title TEXT, \n\trelease_date DATETIME, \n\thero TEXT, \n\tvillian TEXT, \n\tsong TEXT\n)'),
 ('table', 'voice_actor', 'voice_actor', 5, 'CREATE TABLE voice_actor (\n\tcharacter TEXT, \n\tvoice_actor TEXT, \n\tmovie_title TEXT\n)'),
 ('table', 'director', 'director', 18, 'CREATE TABLE director (\n\tmovie_title TEXT, \n\tdirector TEXT\n)'),
 ('table', 'movie_gross', 'movie_gross', 19, 'CREATE TABLE movie_gross (\n\tmovie_title TEXT, \n\trelease_date DATETIME, \n\tgenre TEXT, \n\tmpaa_rating TEXT, \n\ttotal_gross BIGINT, \n\tinflation_adjusted_gross BIGINT\n)'),
 ('table', 'revenue', 'revenue', 31, 'CREATE TABLE revenue (\n\tyear BIGINT, \n\tstudio_entertainment FLOAT, \n\tdisney_consumer_products FLOAT, \n\tdisney_interactive FLOAT, \n\twalt_disney_parks_and_resorts FLOAT, \n\tdisney_media_networks FLOAT, \n\ttotal BIGINT\n)')]

In [10]:
%sql select * from movie_gross limit 5;

 * sqlite:///disney.sqlite
Done.

[('Snow White and the Seven Dwarfs', '1937-12-21 00:00:00.000000', 'Musical', 'G', 184925485, 5228953251),
 ('Pinocchio', '1940-02-09 00:00:00.000000', 'Adventure', 'G', 84300000, 2188229052),
 ('Fantasia', '1940-11-13 00:00:00.000000', 'Musical', 'G', 83320000, 2187090808),
 ('Song of the South', '1946-11-12 00:00:00.000000', 'Adventure', 'G', 65000000, 1078510579),
 ('Cinderella', '1950-02-15 00:00:00.000000', 'Drama', 'G', 85000000, 920608730)]

In [9]:
%sql $connection_string

In [12]:
%sql select * from movie_gross limit 10;

 * sqlite:///disney.sqlite
Done.

[('Snow White and the Seven Dwarfs', '1937-12-21 00:00:00.000000', 'Musical', 'G', 184925485, 5228953251),
 ('Pinocchio', '1940-02-09 00:00:00.000000', 'Adventure', 'G', 84300000, 2188229052),
 ('Fantasia', '1940-11-13 00:00:00.000000', 'Musical', 'G', 83320000, 2187090808),
 ('Song of the South', '1946-11-12 00:00:00.000000', 'Adventure', 'G', 65000000, 1078510579),
 ('Cinderella', '1950-02-15 00:00:00.000000', 'Drama', 'G', 85000000, 920608730),
 ('20,000 Leagues Under the Sea', '1954-12-23 00:00:00.000000', 'Adventure', None, 28200000, 528279994),
 ('Lady and the Tramp', '1955-06-22 00:00:00.000000', 'Drama', 'G', 93600000, 1236035515),
 ('Sleeping Beauty', '1959-01-29 00:00:00.000000', 'Drama', None, 9464608, 21505832),
 ('101 Dalmatians', '1961-01-25 00:00:00.000000', 'Comedy', 'G', 153000000, 1362870985),
 ('The Absent Minded Professor', '1961-03-16 00:00:00.000000', 'Comedy', None, 25381407, 310094574)]

In [ ]:
%%sql
update movie_gross
    set release_date = strftime('%Y-%m-%d')

In [ ]:
%%sql
select * from movie_gross 
    where total_gross > 100e6 and strftime('%Y', release_date) > '2010';

In [ ]:
rs=%sql select mpaa_rating, count(*) no_movies from movie_gross group by mpaa_rating;

In [ ]:
type(rs)

In [ ]:
df=rs.DataFrame()
df

In [ ]:
type(df)

In [ ]:
import seaborn as sns

In [ ]:
sns.barplot(x='mpaa_rating', y='no_movies', data=df)

In [ ]:
%%sql
update movie_gross
    set movie_title = upper(movie_title);

In [ ]:
%%sql
select * from movie_gross limit 5;

## SqlMagic

In [ ]:
%config SqlMagic

In [ ]:
%config SqlMagic.autopandas = True
%config SqlMagic.displaycon = False

In [ ]:
df=%sql select * from movie_gross;
df

In [ ]:
df['mpaa_rating'].hist()

In [ ]:
type(df)

## multiline %%sql to pandas.DataFrame()

In [ ]:
%%sql df2 <<
select * 
    from movie_gross 
    where genre = 'Adventure'
    limit 5;

In [ ]:
df2

In [ ]:
type(df2)

In [ ]:
df2.info()

In [ ]:
df2['release_date']=df2['release_date'].astype('datetime64')

In [ ]:
df2.info()

In [ ]:
df2[df2['release_date'].dt.year < 1960]

## switch to other database @dbname

In [ ]:
%config SqlMagic.displaycon = True

In [ ]:
dbname='th_province.sqlite'
connection_string=f'sqlite:///{dbname}'

In [ ]:
%sql $connection_string

In [ ]:
%%sql
select * 
    from  sqlite_master 
    where type ='table';

In [ ]:
%sql select * from provinces;

In [ ]:
df=%sql select regionid, sum(areaKm2) area from provinces group by regionid;
df

In [ ]:
sns.barplot(data=df, x='regionID', y='area')

In [ ]:
%sql @disney

In [ ]:
%sql select * from disney_char limit 5;

In [ ]:
%sql @th_province

In [ ]:
%%sql
select * 
    from  sqlite_master 
    where type ='table';

In [ ]:
%%sql
select * from provinces where regionid='S'

---